{
  "plugins": [
    "@semantic-release/exec",
    {
      "prepareCmd": "echo \"Preparing!\" && npm run build"
    }
  ],
  "prepare": [
    "@semantic-release/npm",
    {
      "//": "adds a file to identify a build as a standalone binary",
      "path": "@semantic-release/exec",
      "cmd": "echo '' > dist/STANDALONE"
    },
      {
      "//": "build the code",
      "path": "@semantic-release/exec",
      "cmd": "npm run build"
    },
    {
      "//": "build the alpine binary",
      "path": "@semantic-release/exec",
      "cmd": "npx nexe dist/index.js -t linux-x64-12.16.2 -o snyk-licenses-texts-linux"
    },
    {
      "//": "build the  macos binary",
      "path": "@semantic-release/exec",
      "cmd": "npx nexe dist/index.js -t mac-x64-10.21.0 -o snyk-licenses-texts-macos"
    },
    {
      "//": "build the windows binary",
      "path": "@semantic-release/exec",
      "cmd": "npx nexe dist/index.js -t windows-x64-10.16.0 -o snyk-licenses-texts-win"
    },
    {
      "//": "shasum all binaries",
      "path": "@semantic-release/exec",
      "cmd": "shasum -a 256 snyk-licenses-texts-linux > snyk-licenses-texts-linux.sha256 && shasum -a 256 snyk-licenses-texts-macos > snyk-licenses-texts-macos.sha256 && shasum -a 256 snyk-licenses-texts-win.exe > snyk-licenses-texts-win.exe.sha256"
    },
    {
      "//": "removes the file we use to identify a build as a standalone binary",
      "path": "@semantic-release/exec",
      "cmd": "rm dist/STANDALONE"
    }
  ],
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "./snyk-licenses-texts-linux",
          "name": "snyk-licenses-texts-linux",
          "label": "snyk-licenses-texts-linux"
        },
        {
          "path": "./snyk-licenses-texts-linux.sha256",
          "name": "snyk-licenses-texts-linux.sha256",
          "label": "snyk-licenses-texts-linux.sha256"
        },
        {
          "path": "./snyk-licenses-texts-macos",
          "name": "snyk-licenses-texts-macos",
          "label": "snyk-licenses-texts-macos"
        },
        {
          "path": "./snyk-licenses-texts-macos.sha256",
          "name": "snyk-licenses-texts-macos.sha256",
          "label": "snyk-licenses-texts-macos.sha256"
        },
        {
          "path": "./snyk-licenses-texts-win.exe",
          "name": "snyk-licenses-texts-win.exe",
          "label": "snyk-licenses-texts-win.exe"
        },
        {
          "path": "./snyk-licenses-texts-win.exe.sha256",
          "name": "snyk-licenses-texts-win.exe.sha256",
          "label": "snyk-licenses-texts-win.exe.sha256"
        }
      ]
    }
  ],
  "branches": [
    "master"
  ]
}
